[submodule "frontend"]
	path = frontend
	url = https://github.com/Evangelin-philip/bookReview_FE.git
[submodule "backend"]
	path = backend
	url = https://github.com/Evangelin-philip/bookReview_BE.git
